/_deps
/*.cmake
/Makefile
/CMakeFiles
/CMakeCache.txt

/tests/CMakeFiles
/tests/*.cmake
/tests/*.tcl
/tests/Makefile
/tests/irc_tests

/vsproj/*.filters
/vsproj/*.user
/vsproj/x64
/vsproj/Win32
/vsproj/.vs
